body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    min-height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4) url('/galeria/pexels-pixabay-2150.jpg') no-repeat center center;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
}

.card {
    background-color: #ffffff;
    width: 300px;
    padding: 1.5em;
    margin: 1.5em auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    max-width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
}

.card-title {
    margin-top: 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.card p {
    font-size: 1rem;
    margin-top: 1em;
    line-height: 1.6;
}

  /* Estilos individuales para las cards */

.card1 {
    background: #ffe4e1; /* Color hexadecimal */
    color: rgb(220, 20, 60); /* RGB */
    font-size: 24px;       /* Tamaño de la fuente */
    font-style: italic;    /* Estilo itálico (cursiva) */
    font-weight: 900; 
}

.card2 {
    background: #e0ffff;
    color: rgb(70, 130, 180);
}

.card3 {
    background: #fafad2;
    color: rgb(218, 165, 32);
}

.card4 {
    background: #f0e68c;
    color: rgb(46, 139, 87);
}

.card5 {
    background: #dda0dd;
    color: rgb(148, 0, 211);
}

.card6 {
    background: #E2EEEC;
    color: rgb(70, 176, 180);
}
.card7 {
    background: #CFDBDA;
    color: rgb(70, 114, 180);
}
.card8 {
    background: #8AAAA5;
    color: rgb(70, 109, 180);
}
.card9 {
    background: #CABD9A;
    color: rgb(165, 146, 62);
}
.card10 {
    background: #A5956D;
    color: rgb(224, 162, 103);
}


  /* Card con gradiente lineal */
.card-gradient-linear {
    background: linear-gradient(100deg, #F9D664, #FDE7CF);
    color: white;
    border: 3px solid #f1f1f1;
}

  /* Card con gradiente radial */
.card-gradient-radial {
    background: radial-gradient(circle, #89f7fe, #66a6ff);
    color: white;
}


.card p {
    margin: 1em 0;
    padding: 0.5em;
}